<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-SocketIO Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
</head>
<body>
    <div id="landing">
        <input type="text" id="username" placeholder="Username">
        <button id="join-btn">JOIN</button>
        <p id="error-message" style="color: red; display: none;"></p>
    </div>

    <div id="message_box" style="display: none">
        <p id="message"></p>
        <ul id="users"></ul>
        <button id="leave-btn">Leave</button>
    </div>

    <script>
        const socket = io({ autoConnect: false });

        document.addEventListener("DOMContentLoaded", function() {
            const username = sessionStorage.getItem('username');
            console.log("This is username: " + username);
            if (username) {
                document.getElementById("message_box").style.display = "block";
                document.getElementById("landing").style.display = "none";
                socket.connect();
                if (sessionStorage.getItem('admin')) {
                    socket.emit("reconnect", "admin"); // Reconnect as admin if sessionStorage indicates admin
                } else {
                    socket.emit("reconnect", username); // Reconnect as regular user
                }
            }
        });

        document.getElementById("join-btn").addEventListener("click", function() {
            let username = document.getElementById("username").value;

            console.log("Joining with username:", username);

            socket.connect();

            socket.on("connect", function() {
                console.log("Connected to server");
                socket.emit("user_join", username);
            });

            socket.on("username_assigned", function(data) {
                sessionStorage.setItem('username', data.username);
                document.getElementById("message_box").style.display = "block";
                document.getElementById("landing").style.display = "none";
            });
        });

        document.getElementById("leave-btn").addEventListener("click", function() {
            const username = sessionStorage.getItem('username');
            socket.emit("remove_user", username);
            sessionStorage.removeItem('username');

            fetch('/logout', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        location.reload();
                    }
                });
        });

        socket.on("user_list_update", function(data) {
            console.log("Received updated user list:", data.users);
            let ul = document.getElementById("users");
            ul.innerHTML = "";
            data.users.forEach(function(username) {
                let li = document.createElement("li");
                li.appendChild(document.createTextNode(username + " "));

                if (data.isAdmin) {
                    let button_delete = document.createElement("button");
                    let button_notify = document.createElement("button");
                    button_delete.appendChild(document.createTextNode("❌"));
                    button_notify.appendChild(document.createTextNode("🔔"));

                    button_delete.addEventListener("click", function() {
                        socket.emit("remove_user", username);
                    });
                    li.appendChild(button_delete);

                    button_notify.addEventListener("click", function() {
                        socket.emit("notify_user", username);
                    });
                    li.appendChild(button_notify);
                }
                ul.appendChild(li);
            });
        });

        socket.on("update_position", function(position) {
            updateMessageBox(position);
        });

        socket.on("ring", function() {
            const ring = new Audio("{{ url_for('static', filename='sound/Ding-sound-effect.mp3') }}");
            ring.play();
            if ("vibrate" in navigator) {
                navigator.vibrate(15000);
            } else {
                console.log("Vibration API not supported");
            }
        });

        function updateMessageBox(position) {
            console.log("updateMessage function is triggered.");
            let message = document.getElementById("message");

            if (position === 1) {
                message.textContent = "You are next in line!\nPlease wait at the counter.";
            } else if (position === 2) {
                message.textContent = "You are in 2nd place of the queue!";
            } else {
                message.textContent = "There are " + (position - 1) + " people in front of you.";
            }
        }
    </script>
</body>
</html>
