<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-SocketIO Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
</head>
<body>
    <div id="landing">
        <input type="text" id="username" placeholder="Username">
        <button id="join-btn">JOIN</button>
    </div>

    <div id="message-box" style="display: block;">
        <p id="message"></p>
    </div>

    <ul id="users" style="display: none">
    </ul>
    <script>
        const socket = io({autoConnect: false});

        //Handling User Join
        document.getElementById("join-btn").addEventListener("click", function() {
            let username = document.getElementById("username").value;

            console.log("Joining with username:", username);

            socket.connect();

            socket.on("connect", function() {
                console.log("Connected to server");
                socket.emit("user_join", username);
            });

            document.getElementById("users").style.display = "block";
            document.getElementById("landing").style.display = "none";
        });
        // end of user join

        //Updates the userlist
        socket.on("user_list_update", function(data) {
            console.log("Received updated user list:", data.users);
            let ul = document.getElementById("users");
            ul.innerHTML = "";
            data.users.forEach(function(username) {
                let li = document.createElement("li");
                li.appendChild(document.createTextNode(username + " "));

                if (data.isAdmin){
                    let button = document.createElement("button");
                    button.appendChild(document.createTextNode("❌"));
                    //Handling user deletion
                    button.addEventListener("click", function(){
                        socket.emit("remove_user", username);
                        })
                    //end of user deletion 
                    li.appendChild(button);
                }
                ul.appendChild(li);
            });
        });
        //Userlist update ends


        socket.on("update_position", function(position) {
            updateMessageBox(position);
        });

        // Updates the queue status message for each customer
        function updateMessageBox(position) {
            console.log("updateMessage function is triggered.")
            let messageBox = document.getElementById("message-box");
            let message = document.getElementById("message");

            if (position === 1) {
                message.textContent = "You are next in line!\nPlease wait at the counter.";
            } else if(position === 2){
                message.textContent = "You are in 2nd place of the queue!"
            } else {
                message.textContent = "There are " + (position - 1) + " people infront of you.";
            }
        }
        // end of updateMessagebox
    </script>

</body>
</html>
